%tipografiaParrafo{
font-size: 14px;
font-family: 'Montserrat', sans-serif;
}

%tipografiaSubtitulos{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

%tipografiaTitulos{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}